<!DOCTYPE html>
<html>
  <head>
    <title>Sell your soul & make good music w/ AudioCaelum!!! Mwahahahaha!!!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Add FontAwesome CDN link tag here -->
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!-- This is bootstrapping the user -->
    <% if logged_in? %>
      <script>
        window.currentUser =
          <%= render(
            'api/users/user.json.jbuilder',
            user: current_user,
          ).html_safe %>
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
